#image-full {
    margin: 15px;
}

#image-sliced {
    position: absolute;
    margin: 15px;
    bottom: 0px;
    max-width: 100%;
}

.img-cell {
    display: block;
    background-repeat: no-repeat;
    
    width: 100px;
    height: 100px;
    background-image: url(./hogwarts.jpg);
    background-size: 400%;
}

.draggable {
    /* transition: transform .3s linear; */
    display: inline-block;
}

.draggable > .img-cell {
    cursor: pointer;
}